<div class="container my-5 py-5">
  <div class="px-3">
    <h1 class="text-center">Minoxidil</h1>
    <div class="row my-3">
      <div class="col-lg-6">
        <ul>
          <li><strong class="fs-5">Qué es</strong>
            <p>El minoxidil es un medicamento que se usa para estimular el crecimiento del cabello y frenar la caída del pelo, actualmente es el tratamiento más eficaz en el mercado para la caída del pelo.</p>
          </li>
          <li> El minoxidil se puede utilizar tanto en hombres como en mujeres</li>
          <li class="mt-4"><strong class="fs-5">Kirkland</strong></li>
          <li>Kirkland Signature es la marca registrada de Costco para sus productos de marca propia. El nombre proviene de la ubicación de la sede original de Costco en Kirkland , Washington</li>
          <li>La gente confía en la marca Kirkland Signature, que mantiene los precios bajos y la calidad alta al eliminar a los intermediarios en la cadena de suministro que a menudo pueden aumentar los costos</li>
        </ul>
      </div>
      <div class="col-lg-6">
        <ul>
          <li><strong class="fs-5">Cómo funciona</strong>
            <p>Este tratamiento actúa de la siguiente manera: el producto provoca una vasodilatación de los capilares, lo que favorece el flujo sanguíneo en el folículo capilar. Al recibir más sangre esto hace que nazcan con más fuerza los nuevos folículos</p>
          </li>
          <li><strong class="fs-5">Cómo Aplicar</strong>
            <ul>
              <li>Debe utilizarse 2 veces al día, en cantidad de 1 ml cada 12 horas, estando en contacto con la piel un mínimo de 4 horas. En caso de aplicarse una sola vez al día, no debe excederse la cantidad de 2 ml</li>
              <li>El minoxidil debe aplicarse sobre la piel del cuero cabelludo para que se absorba y haga su efecto en la raíz folicular. No debe aplicarse sobre el cabello en sí, sino sobre la piel.</li>
              <li>Tras aplicarlo, se debe dar un masaje sobre la zona para favorecer la correcta absorción del producto.</li>
              <li>Se debe aplicar minoxidil sobre un cuero cabelludo limpio y seco.</li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
