<app-navbar></app-navbar>

<div class="row">
  <div class="col-12 col-lg-6">
    <div id="gratitudMg">
      <h1 class="mb-4">¡ Preparando Pedido !</h1>
      <p>El pedido ha sido aprobado y estará listo para su envío pronto</p>
      <p>Se te enviaran correos electrónicos para que puedas verificar el estado de tu envió</p>
      <p>¡Si necesitas ayuda no dudes en hablar con nosotros!</p>
        <p>Gran abrazo</p>
    </div>
  </div>
  <div class="col-12 col-lg-6">
    <div id="transactionImg" [style.background-image]="'url(./assets/transactionConfirmed.png)'">

    </div>
  </div>
</div>

