#cart{
  padding-top: 30px;
  padding-bottom: 40px;
}

.form-switch{
  width: fit-content;
}
@media only screen and (min-width: 501px){
  #form1{
    padding-right: 9px;
  }
}
@media only screen and (max-width: 500px){

}
